body {
  text-align: center;
  background-color: #548687;
  margin: 0;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 300px;
  margin: 50px auto;
  gap: 10px;
}

.box {
  height: 90px;
  font-size: 2rem;
  background-color: #ffffc7;
  border: none;
}